<h3>prueba</h3>

<div class="radio-custom radio-info mb5">
  <input type="radio" id="conforme" name="radioExample" value="1">
  <label for="conforme">Conforme</label>
</div>


<div class="radio-custom radio-info mb5">
  <input type="radio" id="noconforme" name="radioExample" value="2">
  <label for="noconforme">No Conforme</label>
</div>


<div class="radio-custom radio-info mb5">
  <input type="radio" id="noaplica" name="radioExample" value="3">
  <label for="noaplica">No aplica</label>
</div>


<div class="form-group">          
  <label>Documento</label>
  <input type="file" class="form-control" id="archivo2" name="archivo2"  data-bind="fileData:{value:soporte,allowedFileExtensions: ['png','jpg','jpge','pdf'],elErrorContainer: '#errorBlock', removeLabel:''}"/> 
</div>