{% extends 'page.html' %}

{% block title %}Inicio{% endblock title%}

{% block opciones_listado %}
{% endblock opciones_listado %}

{% block busqueda %}
{% endblock busqueda %}

{% block encabezado %}Inicio{% endblock encabezado %}

{% block contenido %}

	<div class="row">
        <div class="col-lg-12">
          	<div class="panel">
            	<div class="panel-body">

		            <div class="alert alert-success alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					  <strong>Estimado usuario(a) {{ user.usuario.persona.nombres }} {{ user.usuario.persona.apellidos }}</strong><br>

              <strong>Bienvenido al Sistema de registro y seguimiento a productos no conformes – SNC.</strong><br>
              <strong>Ultima entrada: <span>{{ user.last_login }}</span></strong>

					</div>
            		
            	</div>
            </div>
        </div>
    </div>

{% endblock contenido %}