{% extends 'page.html' %}
{% load staticfiles %}

{%block imports_css %}
 <link rel="stylesheet" type="text/css" href='{% static "css/fileInput/fileinput.min.css" %}'>

{% endblock imports_css %}

{% block title %}Contratista{% endblock title%}
{% block mapa %}
  <li><a href="/usuario/"><i class="glyphicon glyphicon-home"></i></a></li>
  <li class="active">Contratista</li>
{% endblock mapa %}
{% block encabezado %}<!--contratista-->{% endblock encabezado %}

{% block contenido %}

  <div class="row" ><br><br>

    <div class="col-lg-12">
  
        <div class="row">

          <div class="panel" id="spy4">
            <div class="panel-heading">
              <span class="panel-title"></span><span>Listado de contratista</span>

              <span data-bind="text:'- N° de Registos: ' + paginacion.totalRegistrosBuscados() + ' de ' + paginacion.total()"></span>

            </div>
            <div class="panel-body">

              <div data-bind="html: mensaje"></div>
              <div class="table-responsive" data-bind="visible:(listado()!=null && listado().length > 0)">

                <table class="table">
                  <thead>
                      <tr>
                        <th style="width:20%" width="10%">
                           <div class="option-group field admin-form">
                              <label class="option option-primary"  style="">
                                <input type="checkbox" data-bind="checked:checkall">
                                <span class="checkbox"></span>
                              </label>
                            </div>
                        </th>
                        <th style="width:25%">Rnc</th>
                        <th style="width:30%">Nombre</th>
                        <th style="width:25%"></th>
                      </tr>
                  </thead>

                  <tbody data-bind="foreach:{data:listado, as:'item'}">
                    <tr>
                      <td> 
                        <div class="option-group field admin-form">
                          <label class="option option-primary"  style="">
                            <input type="checkbox" data-bind="checked:eliminado,value:id">
                            <span class="checkbox"></span>
                          </label>
                        </div>
                      </td> 

                      <td data-bind="text: item.rnc"></td>
                      <td data-bind="text: item.nombre"></td>
                      <td>
                          <a href="#" data-bind="click:$root.consultar_por_id">
                           <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                          </a>

                      </td>

                    </tr>
                     
                  </tbody>
                </table>

                <div id="paginacion" >
                  <div data-bind="pagination: {
                                currentPage: paginacion.pagina_actual,
                                totalCount: paginacion.total,
                                pageSize:paginacion.cantidad_por_paginas,
                                maxPages: paginacion.maxPaginas,
                                directions: paginacion.direcciones,
                                boundary: paginacion.limite,
                                text: paginacion.text }">

                  </div>
                </div>
                
              </div>

            </div>
          </div>

        </div><!--cierra row de validacion de la tabla-->

    </div><!--col-lg-12" -->
  </div><!--cierra row -->


  <!--Modal-->

<div id="modal_acciones" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel" data-bind='text:titulo'></h4>
      </div>
       <div class="modal-body">

        <form action="." method="post">
        {% csrf_token %}

          <div class="form-group">
            <label>Rnc (*)</label>
              <input type="text" data-bind="value:contratistaVO.rnc" class="form-control" placeholder="Dígite el rnc del contratista"/>
          </div>

          <div class="form-group">
            <label>Nombre (*)</label>
              <input type="text" data-bind="value:contratistaVO.nombre" class="form-control" placeholder="Dígite el nombre del contratista"/>
          </div>

        </form>

       </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bind="click:guardar">
            <i class="fa fa-floppy-o"></i> Guardar
          </button>
        </div>

    </div>
  </div>
</div>

<!--Modal-->


<!--Loading-->
  
{% endblock contenido %}

{% load staticfiles %}

{%block imports %}

  <script src='{% static "js/plugins/accounting/accounting.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/plugins/fileInput/fileinput.js" %}'></script>
  <script type="text/javascript" src='{% static "js/ViewModels/contratista/contratista.js" %}'></script>

  <script type="text/javascript">

    $(document).ready(function () {
      contratista.consultar(1);//iniciamos la primera funcion

    });  

  </script>

{% endblock imports %}

