{% extends 'page.html' %}
{% load staticfiles %}


{%block imports_css %}
<style type="text/css">
.error-title {
    font-size: 140px;
    font-weight: 800;
    color: #4a89dc;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 20px;
    line-height: 120px;
}

.error-subtitle {
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    color: #AAA;
    margin-bottom: 80px;
}

.mid-section {
    position: relative;
    width: 100%;
    height: 215px;
    background: #FFF;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

</style>
{% endblock imports_css %}


{% block title %}Empleados{% endblock title%}
{% block mapa %}
	<li><a href="{% url 'usuario.index' %}"><i class="glyphicon glyphicon-home"></i></a></li>
  <li><a href="">404</a></li>	
{% endblock mapa %}
{% block encabezado %}{% endblock encabezado %}

{% block opciones_listado %}
{% endblock opciones_listado %}      


{% block contenido %}

  
    <div class="center-block mt50 mw800">
      <h1 class="error-title"> 404! </h1>
      <h2 class="error-subtitle">Page Not Found.</h2>      
    </div>
    <div class="mid-section"></div>
 
{% endblock contenido %}


{% load staticfiles %}


{%block imports %}
    
{% endblock imports %}