  {% load staticfiles %}
  <!-- Font CSS (Via CDN) -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600'>

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/skin/default_skin/css/theme.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/skin/default_skin/css/theme2.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/skin/default_skin/css/theme3.css' %}">

  <!-- Admin Forms CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/admin-tools/admin-forms/css/admin-forms.css' %}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}">

  <link rel="stylesheet" type="text/css" href='{% static "css/jqueryConfirm/jquery-confirm.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "css/font/css/font-awesome.min.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "css/app.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "css/wizard/prettify.css" %}'>

  <script src="{% static 'vendor/jquery/jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery_ui/jquery-ui.min.js' %}"></script>
			
    